
.layout{
  display: grid;
  /* grid-template: Row / Colum; */
  grid-template: 60px 1fr 150px / 224px 1fr;

  /*grid-gap: filas columnas;*/
  /* grid-gap: 0px 10px; */
  height: 100vh;
  grid-template-areas: "header header"
                       "navigation content"
                       "navigation content";

}

.content-layout{
  padding: 5px;
}
